@tailwind base;
@tailwind components;
@tailwind utilities;


/* customCursor.css */
.remote-cursor {
    cursor: url('../../public/assets/remote.png'), auto;
  }
  

/* styles.css */
.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: black;
    opacity: 1;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 9999; /* Ensure it appears on top of other elements */
    transition: all 1.5s ease-out;
  }
  
  .overlay.active {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%) scale(5); /* Adjust scale as needed */
  }
  
  
.glass-effect {
background: rgba(0, 0, 0, 0.3);
border-radius: 20px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
}

.rainbow-5:hover{
  background-image:     linear-gradient(
     to right, 
     #E7484F,
     #E7484F 25%,
     #FCED00 25%,
     #FCED00 50%,
     #009E4F 50%,
     #009E4F 75%,
     #00AAC3 75%,
     #00AAC3 100%,
    
   );
 animation:slidebg 2s linear infinite;
}


@keyframes slidebg {
 to {
   background-position:20vw;
 }
}