@tailwind base;
@tailwind components;
@tailwind utilities;



.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: black;
    opacity: 1;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 9999; 
    transition: all 1.5s ease-out;
  }
  
  .overlay.active {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%) scale(5); 
  }
  
  
.glass-effect {
background: rgba(0, 0, 0, 0.3);
border-radius: 20px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
}

@keyframes slidebg {
 to {
   background-position:20vw;
 }
}

.page-exit{
  pointer-events: none;
  overflow: hidden;
}
